body {
  font-family: Arial;
  margin:0;
  background:#f6f7fb;
  text-align:center;
}

nav {
  background:black;
  padding:15px;
}

nav a {
  color:white;
  margin:10px;
  text-decoration:none;
  font-weight:bold;
}

.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  background:white;
  margin:20px;
  padding:20px;
  width:250px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card img{
  width:100%;
  border-radius:10px;
}

.buy{
  background:#ff6600;
  color:white;
  padding:10px 15px;
  display:inline-block;
  border-radius:6px;
  text-decoration:none;
}